[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
mysql-connector-python = "*"
pydantic = {version = "<2", extras = ["email"]}
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pyzabbix = "*"
pandas = "*"
sshtunnel = "*"
mysqlclient = "*"
rocketry = "*"
aiofiles = "*"
pythonping = "*"
websockets = "*"
paramiko = "*"
fastapi-mail = "*"
httpx = "*"
openpyxl = "*"
xlsxwriter = "*"
pymssql = "*"
slack-sdk = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server = "python main.py"
